doctype html
html(lang="en")
  include _includes/head.pug

  body
    block nav

    block content

    block footer
      footer
        .footer-container
          p &copy; #{new Date().getFullYear()} #{appName || 'Node.js Express Mongoose Starter'}. All rights reserved.
          nav.footer-links
            a.footer-link(href="/privacy") Privacy Policy
            a.footer-link(href="/terms") Terms of Service

    block footScripts
