footer.footer
  .footer-content
    .footer-section
      h3 OpenSource Project
      p
        | Building better development tools through open collaboration and community-driven innovation.
    
    .footer-section
      h3 Resources
      ul.footer-links
        li
          a(href='#documentation') Documentation
        li
          a(href='#tutorials') Tutorials
        li
          a(href='#api') API Reference
        li
          a(href='#examples') Examples
    
    .footer-section
      h3 Community
      ul.footer-links
        li
          a(href='#forum') Forum
        li
          a(href='#discord') Discord
        li
          a(href='#contribute') Contribute
        li
          a(href='#sponsors') Sponsors
    
    .footer-section
      h3 Company
      ul.footer-links
        li
          a(href='#about') About Us
        li
          a(href='#blog') Blog
        li
          a(href='#careers') Careers
        li
          a(href='#contact') Contact
  
  .footer-bottom
    p &copy; 2024 OpenSource Project. Released under MIT License.
